---
title: Книжная полка
layout: default
theme: dark
---
{% include site-title.html %}

<main>
    <div class="BookShelf">
        {% assign groups = site.books | group_by_exp: "book", "book.date | date: '%Y'" | reverse %}
        {% for group in groups %}
            <section class="BookSection">
                <h2 class="BookSection-Name" id="{{ group.name }}">
                    {{group.name}}
                </h2>
                <div class="BookSection-Books">
                    {% assign books = group.items | reverse %}
                    {% for book in books %}
                        <a
                            class="BookSpine"
                            {% assign book_content = book.content | strip_newlines %}
                            {% if book_content != "" %}
                                href="{{ x.url | relative_url }}"
                            {% endif %}
                            style="background: {{ book.background_color }}; color: {{ book.foreground_color }}"
                        >
                            <h3 class="BookSpine-Header">
                                {% if book.name_en %}
                                    <span class="BookSpine-Name BookSpine-Name_lang_en">{{ book.name_en }}</span>
                                {% endif %}
                                <span class="Book-Name BookSpine-Name_lang_ru">{{ book.name_ru }}</span>
                            </h3>
                            <span class="BookSpine-Author">{{ book.author }}</span>
                        </a>
                    {% endfor %}
                </div>
            </section>
        {% endfor %}
    </div>
</main>
