.BookShelf {
    margin-top: 60px;
}

.BookSection + .BookSection {
    margin-top: 40px;
}

.BookSection-Name {
    margin: 0 0 16px;

    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);

    color: var(--inactive-color);
}

.BookSection-Books {
    display: flex;
    flex-flow: row wrap;

    width: 100%;
}

.BookSpine {
    display: flex;
    align-items: center;

    min-width: 52px;
    height: 400px;

    margin: 8px 8px 0 0;
    padding: 32px 16px;

    writing-mode: vertical-rl;

    color: inherit;

    text-decoration: none;

    transition: transform .1s ease-out;
}

.BookSpine:hover {
    transform: scale(1.05) translateY(-8px);
}

.BookSpine-Header {
    flex: 2;

    margin: 0;

    font-size: inherit;
}

.BookSpine-Author {
    flex: 1;

    margin-top: 8px;

    max-width: 240px;
    text-align: end;

    font-size: 16px;
}

.BookSpine-Name_lang_en + .BookSpine-Name_lang_ru {
    opacity: 0.5;
}

.BookPreview {
    margin-top: 40px;

    display: flex;
    align-items: center;

    color: var(--inactive-color);
}

.BookPreview-Cover {
    margin-right: 12px;

    height: 80px;
}

.BookPreview-Meta {
    display: grid;

    row-gap: 4px;
}

.BookPreview-Name {
    color: var(--foreground-color);
}

@media (max-width: 540px) {
    .BookShelf {
        margin-top: 40px;
    }
    
    .BookSection + .BookSection {
        margin-top: 32px;
    }

    .BookSection-Books {
        flex-direction: column;
    }
    
    .BookSection-Name {
        margin: 0 0 16px;
    }

    .BookSpine {
        flex-direction: column;
        align-items: flex-start;

        margin: 0 calc(var(--page-padding-x) * -1);
        padding: 12px 20px;

        height: auto;

        writing-mode: unset;
    }

    .BookSpine:hover {
        transform: none;
    }

    .BookSpine + .BookSpine {
        margin-top: 8px;
    }

    .BookSpine-Author {
        margin-top: 4px;

        max-width: inherit;
        text-align: left;

        opacity: 0.5;
    }
}
