.Container {
    position: relative;

    margin: 100px;

    display: grid;
    grid-template-columns: minmax(240px, 1fr) minmax(400px, 720px) 1fr;
}

.Title-Label {
    color: inherit;
    text-decoration: none;

    font-weight: 600;

    width: max-content;
}

@media (max-width: 1200px) {
    .Container {
        grid-template-columns: minmax(200px, 1fr) minmax(400px, 640px) 1fr;
    }
}

@media (max-width: 960px) {
    .Container {
        grid-template-columns: auto;
    }

    .Container-Content {
        margin-top: 72px;
    }
}

@media (max-width: 540px) {
    .Container {
        margin: 40px 20px;
    }
}
