.RootContainer {
    padding: 100px;

    background: var(--backround-color);
    color: var(--foreground-color);
}

.RootContainer_theme_dark {
    --backround-color-rgb: 19, 19, 19;
    --backround-color: rgb(var(--backround-color-rgb));

    --foreground-color-rgb: 255, 255, 255;
    --foreground-color: rgb(var(--foreground-color-rgb));

    --inactive-color: rgba(var(--foreground-color-rgb), 0.3);
}

.Title {
    color: inherit;
    text-decoration: none;

    font-weight: 600;

    width: max-content;
}

@media (max-width: 540px) {
    .RootContainer {
        padding: 40px 20px;
    }
}
