.RootContainer {
    padding: var(--page-padding-y) var(--page-padding-x);

    min-height: 100vh;
    box-sizing: border-box;

    background: var(--backround-color);
    color: var(--foreground-color);
}

.RootContainer_theme_dark {
    --backround-color-rgb: 19, 19, 19;
    --backround-color: rgb(var(--backround-color-rgb));

    --foreground-color-rgb: 255, 255, 255;
    --foreground-color: rgb(var(--foreground-color-rgb));

    --inactive-color: rgba(var(--foreground-color-rgb), 0.3);
}

.Title {
    color: var(--inactive-color);
    text-decoration: none;

    width: max-content;
    height: max-content;
}
