---
layout: default
---

<article class="Post">
    <time datetime="{{ page.date | date_to_xmlschema }}" class="Post-Date">
        {{page.date | date: "%-d"}}
        {%assign month = page.date | date: "%-m"%}
        {%case month%}
            {%when '1'%}янв
            {%when '2'%}фев
            {%when '3'%}мар
            {%when '4'%}апр
            {%when '5'%}мая
            {%when '6'%}июня
            {%when '7'%}июля
            {%when '8'%}авг
            {%when '9'%}сен
            {%when '10'%}окт
            {%when '11'%}ноя
            {%when '12'%}дек
        {%endcase%}
        {{page.date | date: "%Y"}}
    </time>

    <h1 class="Post-Title">{{page.title}}</h1>

    <div class="Post-Content">
        {{content}}
    </div>
</article>
